@import "../../app.scss";

.navbar {
  background-color: #6326BA;
  padding: 10px 50px;

  @include mobile {
    height: 100px;
  }

  .wrapper {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include mobile {
      justify-content: center;
      margin: auto;
    }

    .logo {
      margin: auto;
      img {
        width: 96px;
      }
    }

    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .menu {
      display: flex;
      gap: 20px;
    }
  }
}