@import "../../app.scss";

.navbar {
  background-color: #cf0080;
  height: 100px;

  .wrapper {
    height: 100%;
    max-width: 1366px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    @include mobile {
      justify-content: center;
      margin: auto;
    }

    .logo {
      font-size: 36px;
    }

    span {
      font-weight: bold;

      @include mobile {
        display: none;
      }
    }

    .menu {
      display: flex;
      gap: 20px;
    }
  }
}