@import "../../app.scss";

.nailmenu {
  position: relative;
  background: #58B36B;

  .progress {
    position: sticky;
    top: 0;
    left: 0;
    padding-top: 50px;
    text-align: center;
    color: #FAF8F1;

    @include desktop-large {
      display: none;
    }

    @include mobile {
      display: none;
    }

    h1 {
      font-size: 72px;
      font-weight: 600;

      @include mobile {
        font-size: 48px;
      }
    }

    .progress-bar {
      height: 5px;
      background: #FAF8F1;
      border-radius: 10px;
    }
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    
    @include mobile {
      padding: 40px 0;
    }

    .wrapper {
      max-width: 1366px;
      height: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 50px;

      @include mobile {
        flex-direction: column;
        gap: 20px;
      }

      .img {
        flex: 1;
        height: 50%;

        @include desktop-large {
          height: 90%;
        }

        @include mobile {
          width: 100%;
          flex: unset;
        }

        img {
          border-radius: 10% / 50%;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      .text {
        color: #6326BA;
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 30px;

        @include mobile {
          transform: none !important;
          gap: 10px;
          align-items: center;
          text-align: center;
          flex: unset;
        }

        h2 {
          font-size: 72px;
          font-weight: 600;
          color: #6326BA;

          @include mobile {
            font-size: 48px;
          }

          @include mobile-s {
            font-size: 32px;
            margin: 0 20px;
          }

          span {
            font-size: inherit;
            font-weight: inherit;
            color: #FAF8F1;
          }
        }

        h3 {
          font-size: 36px;
          font-weight: 600;

          @include mobile-s {
            font-size: 24px;
            margin: 0 20px;
          }
        }

        p {
          color: white;
          font-size: 18px;

          @include mobile {
            margin: 0 20px;
          }

          @include mobile-s {
            font-size: 14px;
            margin: 0 20px;
          }
        }
      }
    }
  }
}